.head {
  text-align: center;
  background-image: url("/assets/images/bg-indonesia.png");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  padding: 10px 0;
}

.centerify {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBit {
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
}
